<!DOCTYPE html>
{% extends "basicapp/base.html" %}
{% load my_extras %}

  {%  block body_block%}

    <h1>Welcome to Homepage</h1>
    <h3>This is the home page extended with base.html</h3>
    <p> the Text and number below are injected with template-filters.<br />
      <h3>  {{text}}   </h2>
      <h3> {{number}} </h2>
    </p>
    <br>
    <p>
      Below using template filters we will make the text upper case and add a 99 to the number.
      <h3 id="red"> {{text|upper}}</h3>
      <h3 id="blue"> {{text|add:" again"}} </h3>
      <h3> {{number|add:"99"}}</h3>
      now below is an example of custom filter to cut out "hello" from the text string
     <h3>{{text|cutout:'Hello'}}</h3> 

    </p>
  {% endblock %}
